@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    margin: 0;
    padding: 0;
    background: url(images/champagne-bottle.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

canvas {
    z-index: -1;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.31);
}

#myButton {
    z-index: 2;
    position: fixed;
    bottom: 6vw;
    left: 40vw;
    /* padding: 10px; */
    height: 20vw;
    width: 20vw;
    color: white;
    border-radius: 50%;
    font-size: 3vw;
    outline: none;
    border: 10px solid white;
}